body {
    background-color: rgb(243, 98, 98);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p, .cuerpo {
    font-size: 2em;
}
button {
    margin-right: 20px;
    border-radius: 10px;
    padding: 10px;
    border-color: #000;
    font-size: 1em;
}
button:hover {
    cursor: pointer;
}