body {
    background-color: rgb(243, 98, 98);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#rutas {
    font-size: 1.2em;
    color: rgb(0, 0, 0);
    line-height: 25px;
}
img {
    width: 450px;
    height: 250px;
}
button {
    margin-right: 20px;
    border-radius: 5px;
    padding: 5px;
    border-color: #000;
}
button:hover {
    cursor: pointer;
}
#empieza {
    display: none;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}